#wrapper {
    display: flex;
    flex: 1 1 70%;
    width: 70%;
    border: solid;
    padding: 20px;
}

#other-child {
    padding: 50px;
    border: solid;
    border-radius: 15px;
    display: flex;
}

#left-wrapper {
    padding: 20px;
    border: solid;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex: 1 1 0px;
    width: 0;
}
